@import "variables";
@import "mixins";

body {
  color: var(--darker);
  background: var(--light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark: #f0f0f0;
    --darker: #ffffff;

    --grey: #888888;
    --greyer: #444444;

    --light: #222222;
    --lighter: #151515;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
