@import "variables";
@import "mixins";

body {
  color: var(--dark);
  background: var(--light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark: #e0e0e0;
    --darker: #f0f0f0;

    --grey: #888888;
    --greyer: #444444;

    --light: #151515;
    --lighter: #222222;
  }
  html {
    color-scheme: dark;
  }
}
