@import "src/utils/styles/mixins.scss";

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  min-height: calc(100vh - 66px);
  border: 3px solid var(--primary);
  border-image-slice: 1;
  border-image-source: conic-gradient(
    var(--primary),
    var(--tertiary),
    var(--secondary),
    var(--tertiary),
    var(--primary)
  );
  .Title {
    text-align: center;
    margin: 0;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
}

@include tablet() {
  .main {
    border-width: 6px;
    padding: 90px;
    min-height: calc(100vh - 192px);
    &::before,
    &::after {
      top: 6px;
      left: 6px;
      width: calc(100% - 12px);
      height: calc(100% - 12px);
    }
  }
}
