.wrapper {
  position: relative;
  max-height: 50px;
  label {
    position: absolute;
    pointer-events: none;
    font-size: var(--small-font);
    color: var(--dark);
    top: 50%;
    left: var(--margin);
    transform: translateY(-50%);
    transition: all 300ms ease;
  }
  input {
    font-size: var(--regular-font);
    border-radius: var(--xxsmall-margin);
    border: 1px solid var(--grey);
    padding: var(--margin) var(--margin) var(--xxsmall-margin) var(--margin);
    line-height: var(--margin);
    background: transparent;
    &:active,
    &:focus,
    &:not(:placeholder-shown) {
      & + label {
        top: var(--xxsmall-margin);
        color: var(--grey);
        font-size: var(--tiny-font);
        transform: translateY(0%);
      }
    }
  }
  &--default input {
    width: auto;
  }
  &--full-width {
    width: 100%;
    input {
      width: calc(100% - (var(--margin) * 2) - 2px);
    }
  }
  &--error input {
    border-color: var(--error);
  }
}

.error {
  display: block;
  color: var(--error);
  font-size: var(--tiny-font);
  margin-top: calc(var(--xxsmall-margin) / 2);
  margin-left: var(--xxsmall-margin);
  height: 0;
}
