.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  cursor: pointer;
  margin: 0;
  border: 0;
  &--primary {
    overflow: hidden;
    background: linear-gradient(to left, var(--primary), var(--tertiary));
    border-radius: var(--xxsmall-margin);
    min-width: 200px;
    transition: transform 250ms ease-in-out;
    &::before {
      content: "";
      position: absolute;
      display: block;
      z-index: 0;
      width: 100%;
      height: 100%;
      background-color: var(--secondary);
      transform: translateX(-50%) skewX(-50deg);
      transition: transform 500ms ease-in-out;
    }
    &:hover,
    &focus {
      transform: scale(0.99);
      &::before {
        transform: translateX(0%);
      }
      & > .label {
        transform: scale(90%);
      }
    }
  }
  &--secondary {
    .label {
      position: relative;
      color: white;
      &::before {
        content: "";
        position: absolute;
        display: block;
        z-index: -1;
        width: 100%;
        height: var(--xxsmall-margin);
        bottom: -2px;
        left: 50%;
        background-color: var(--secondary);
        transform: translateX(-50%);
        transition: bottom 250ms ease-in-out;
      }
    }
    &:hover,
    &focus {
      .label::before {
        bottom: -8px;
      }
    }
  }
}

.label {
  position: relative;
  z-index: 1;
  transition: transform 250ms ease-in;
  text-transform: uppercase;
  font-size: var(--small-font);
  font-weight: var(--bold-font);
  color: white;
}

@media (prefers-color-scheme: light) {
  .wrapper--secondary .label {
    color: black;
    &::before {
      background-color: var(--secondary);
    }
  }
}
