:root {
  --max-width: 1600px;

  //Font
  --tiny-font: 0.625rem;
  --small-font: 0.75rem;
  --regular-font: 1em;
  --medium-font: 1.25rem;
  --large-font: 1.5rem;
  --normal-font: 500;
  --bold-font: 700;

  // Colors
  --dark: #222222;
  --darker: #151515;

  --grey: #cacaca;
  --greyer: #888888;

  --light: #f0f0f0;
  --lighter: #ffffff;

  --primary: #5903e5;
  --secondary: #8c00fb;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    var(--primary),
    var(--secondary),
    transparent,
    var(--secondary),
    transparent,
    var(--primary)
  );
}
